.idea/*
*.log
*.logs
*.tmp
*.pyc
../../Documents/erpautotest/.idea/
.vscode/
__pycache__/
target/
node_modules/
bower_components/
dist/
logs/
reports/
screenShots/
test_artifacts/
vendor/
.env
*.*.lock
videos/
images/
scripts/
docs/
configs/
inputs/
outputs/
temp/
src/
test/
examples/
intermediates/
build/
deploy/
deployment/
*.png
cache_data/*
.venv
venv
.benchmarks

common/import_desc.py
common/import_api.py
common/import_request.py
common/params/pkl/*
testcase/config.json
testcase/*/img
img
report
performance
cache_token
cache_assert
cache_parameters
common/params/pkl
config/settings.py
chrome_user_data
elem/auto_generated.html